<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>Users manager</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="libs/vue/vue.js"></script>
  <script type="text/javascript" src="libs/axios/axios.js"></script>
  <script type="text/javascript" src="users.js"></script>
</head>

<body>
  <div id="app">

    <ul class="user-list">
      <li v-for="(user, index) in users">
        <div class="user-row">
          <div class="user-name"><b>{{ user.name }}</b></div>
          <div class="user-city"><i>{{ user.city }}</i></div>
          <button class="process-button" v-on:click="del(user)">Delete</button>
          <button class="process-button" v-on:click="modify(user)">Modify</button>
        </div>
      </li>
    </ul>

    <div class="user-row">
      <input class="input" v-model="name" placeholder="Name">
      <input class="input" v-model="city" placeholder="City">
      <button class="process-button" v-on:click="add()">Add</button>
    </div>

  </div>
  <script src="app.js"></script>
</body>

</html>